  <% digimons.forEach(digimon=> { %>
    <tr>
      <td>
        <a href="" class="openphoto">
        <img class="Photourl"  src="<%= digimon.photo %>" alt="Photo" width="40" />
      </a>
      </td>
      <td><%= digimon.name %></td>
      <td><%= digimon.rank %></td>
      <td><%= digimon.level %></td>
      <td><%= digimon.type %></td>
      <td><%= digimon.hp %> / <%= digimon.attack %> / <%= digimon.defense %></td>
      <td><%= digimon.level %></td>
      <td><%= digimon.experience %> /  <%= digimon.levelUPExp %></td>
      <td >
          <div class="menu-item px-3">
            <a href="#" class="menu-link px-3" data-kt-users-table-filter="delete_row">Delete</a>
          </div>
        </div>
      </td>
    </tr>
    <% }) %>